$darknavy: #253141;
$white: white;
$navy: #2f3e51;
$black: #333333;
$gray: #999999;
$lightblue: #38AEF0;
$lightgray: #AAAAAA;
$gray2: #BBC3C7;
$form: #434A54;
$white: #fff;
$side_blue_dark: #253141;
$side_blue_light: #2f3e51;
$light_blue: #38AEF0;
$light_gray: #999;
$black: #434a54;
$alert_orange: #F35500;
$side_header_font: 16px;
$side_group_name: 20px;
$side_group_message: 14px;
